.mainContainer {
	width: 100%;
	background-color: black;
	height: 100vh;
}

.contentContainer {
	max-width: 1200px;
	background-color: white;
	width: 100%;
	margin: auto;
	height: 100%;
}

.moviesContainer {
	height: 100%;
	flex-direction: row;
	display: flex;
}

.moviesListContainer {
	flex-basis: 50%;
	border: 2px grey solid;
}

.movieDescriptionContainer {
	flex-basis: 50%;
	border: 2px grey solid;
}

.singleMovie {
	flex-direction: row;
	display: flex;
	border-bottom: 1px grey solid;
	padding: 10px 10px 10px 20px;
	cursor: pointer;
}

.episodeContainer {
	color: grey;
	flex-basis: 25%;
	font-size: 0.8em;
	align-self: center;
	cursor: pointer;
}

.titleContainer {
	flex-basis: 50%;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	cursor: pointer;
}

.dateContainer {
	color: grey;
	flex-basis: 25%;
	text-align: right;
	font-size: 0.8em;
	align-self: center;
	cursor: pointer;
}

.noMovieDescription {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding-top: 50vh;
}

.withMovieDescription {
	padding: 10px 10px 10px 10px;
}

.movieDescriptionTitle {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.movieDescriptionText {
	font-size: 0.9em;
	margin-bottom: 20px;
}

.movieDescriptionDirector {
	font-size: 0.9em;
}

.headerContainer {
	background-color: lightblue;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-direction: row;
}

.buttonHeader {
	padding: 5px 10px 5px 10px;
	font-size: 0.9em;
	background-color: lightblue;
	border-radius: 5px;
	border: 1px grey solid;
	cursor: pointer;
}

.inputContainerHeader {
	flex-grow: 1;
	display: flex;
	background-color: white;
	margin-left: 20px;
	border-radius: 5px;
	border: 1px grey solid;
	flex-direction: row;
}

.inputHeader {
	border: none;
	flex-grow: 1;
}

.inputHeader:focus {
	outline: none;
}

.imgHeader {
	height: 20px;
	width: 20px;
	margin: auto;
}
